html, body {
  height: 100%;
  margin: 0;
  padding:0;
  overflow: hidden;
}
.grid {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
 }
.content {
  display: flex; 
  flex: 1;
  flex-basis: calc(80%);  
  justify-content: flex-start;
  flex-direction: column;
  background-color:green;
  overflow-y: auto;
}
.sidebar {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-basis: calc(20%);  
	flex-direction: column;  
	min-height:100vh;
}
.mainContentBlock{
	display:flex;
	  flex: 1;
	 flex-direction: column;
}
#CoinOverView{
	display:flex;
	flex: 0;
	flex-direction: row;
	flex-wrap: wrap;
	align-items;flex-start;
}
