@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

html, body{
background-color:#000;
}
a, a:visited{color:green;}

.theme_font1{		font-family: 'VT323', monospace;	font-size:2vw;		}
.theme_font2{		font-family: 'Press Start 2P', cursive;, sans-serif;	font-size:1.5vw;		}
.theme_font3{		font-family: 'VT323', monospace;	font-size:2vw;	}
.theme_font4{		font-family: 'Press Start 2P', cursive;, sans-serif;}
.tingle-btn {		font-family: 'Press Start 2P', cursive;, sans-serif;}

.theme_logo1{font-size:2.5vw;	}
.theme_logo2{font-size:1vw;	}

.theme_backgroundcolor1{ background-color:#071207;}
.theme_backgroundcolor2{ background-color:green;}
.theme_backgroundcolor3{ background-color:#000;}

.theme_color1{color:#00D400;}
.theme_color2{}
.theme_color3{color:#00D400;}

td{color:#00D400;}
#CoinOverView .card img {max-height:30%;}

.P1BTN {cursor:pointer; color:#fff;}
.P1BTN:hover {color:#00D400; background-color:#071207;}
.activeBTN {cursor:default;font-weight:bold;color:#078E10; }
.activeBTN:hover {  color:#078E10; background-color:#000;}


button{
   height: auto;
   color:#fff;
   background-color:#071207;
   font-family: 'VT323', monospace;
   border:1px solid green;
   font-size:1vw;
}
input{
   height: 1.5vw;
   color:#fff;
   background-color:#071207;
   font-family: 'VT323', monospace;
   border:1px solid green;
   font-size:1vw;
}
select{
   -webkit-appearance: menulist-button;
   height: 1.5vw;
   color:#fff;
   background-color:#071207;
   font-family: 'VT323', monospace;
   border:1px solid green;
      font-size:1vw;
}

.btn{font-family: 'Press Start 2P', cursive;, sans-serif; }
.tingle-btn{font-size:1rem; font-family: 'Press Start 2P', cursive;, sans-serif;}
.tingle-modal{font-family: 'Press Start 2P', cursive;, sans-serif; color:red;font-size:1rem;}
.tingle-modal-box{background-color:darkred; border-radius: 0px;}

#APIServerCheck{font-size:1rem; position:absolute; bottom:0px; left:0px; margin-top: auto; }
#APIServerCheck div {display:inline-block;}
.WalletsTracked {display:block;}